* { box-sizing: border-box; }

.carousel-cell {
  width: 100%; /* full width */
  height: 50vh;
  min-height: 250px; /* height of carousel */
  margin-right: 10px;
  background-size: cover;
  	.container {
  		max-width: 1200px;
  	}
  	p {
  		font-size: 1.5em;
  		color: #5be04c;
  		background-color: rgba(0, 0, 0, 0.5);
  		padding: 10px;
		margin: 10px;
  		display: inline-block;
  		border-radius: 25%;
  	}
}

.progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

.flickity-page-dots {
  display: none;
}